<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %} {% endblock title %} 
        </title>
        <link href="../static/css/bootstrap.css" rel="stylesheet">
        <link href="../static/css/main.css" rel="stylesheet">
    </head>
    
    <body>
        <nav class='navbar navbar-inverse'>
            <div class='container'>
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span>Software Analytics</a>
                </div>
                
                <div class='collapse navbar-collapse'>
                 
                    <ul class='nav navbar-nav'>
                     {% block navleftelements %}
                      
                      {% endblock navleftelements %}
                    </ul>
                    <ul class='nav navbar-nav navbar-right'>
                     {% block navrightelements %}
                        
                      {% endblock navrightelements %}
                    </ul>
                </div>
            </div>     
        </nav>
        
        {% block content %}
        {% endblock content %}
        
        {% block script %}
            <script src="../static/js/jquery.js"></script> 
            <script src="../static/js/bootstrap.js"></script> 
            <script src="../static/js/main.js"></script> 
            
            <script>
                $.expr[':'].containsIgnoreCase = function (n, i, m) {
                    return jQuery(n).text().toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
                };
            </script>
        {% endblock script %}
    </body>
</html>