{% extends "base.html" %}

{% block navleftelements %}
     
{% endblock navleftelements %}

{% block navrightelements %}
     <li><a href='/login'><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
     <li><a href='/register'><span class="glyphicon glyphicon-log-in"></span>Signup</a></li>
{% endblock navrightelements %}