{% extends "base.html" %}

{% block title %} Login {% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form name='idregister'
                  action='/login'
                  method='post'>
                <div class="form-group">
                    <label for="id_email">Email</label>
                    <input type="email" class="form-control" id="id_email" name="email" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="id_password">Password</label>
                    <input type="password" class="form-control" id="id_password" name="password" placeholder="Enter Password">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

{% endblock content %}