{% extends "base.html" %}

{% block title %} Register {% endblock title %}

{% block content %}

<script>
    function showalert(message,alertType) {
        var alertDiv = '<div class="alert alert-dismissable ';
        alertDiv += alertType;
        alertDiv += '"> ';
        alertDiv += '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>';
        alertDiv += message;
        alertDiv += '</div>';
        
        $('#alert_placeholder').html(alertDiv);
    }

    function validateRegisterForm() {
        var email = document.forms["idregister"]["email"].value;
        var password = document.forms["idregister"]["password"].value;
        var error = false;
        
        var message = '';
        if (email.length <= 0) {
            message += 'Please enter the email. ';
            error = true;
        }
        
        if(password.length <= 6) {
            message += 'Please enter a password greater than 6 characters';
            error = true;
        }
        
        if (error == true)
        {
            showalert(message,'alert-danger');
            return false;
        }
        
        return true;
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div id='alert_placeholder'></div>
            <form name='idregister'
                  action='/register'
                  method='post'
                  onsubmit='return validateRegisterForm();'>
                <div class="form-group">
                    <label for="id_email">Email</label>
                    <input type="email" class="form-control" id="id_email" name="email" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="id_password">Password</label>
                    <input type="password" class="form-control" id="id_password" name="password" placeholder="Enter Password">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

{% endblock content %}