{% extends "base.html" %}

{% block title %} Register {% endblock title %}

{% block navrightelements %}
     <li><a href='/logout'><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
{% endblock navrightelements %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            {{errormessage}}
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

{% endblock content %}