{% extends "base.html" %}

{% block title %} Landing {% endblock title %}

{% block navrightelements %}
     <li><a href='/logout'><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
     
{% endblock navrightelements %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <label>Project</label>
            <select class='form-control' id='idprojects' onchange='onProjectChange(this.value)'>
                <option value='0'>Select Project</option>
                {% for project in projects %}
                    <option value='{{project.key.id()}}'>{{project.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="chart_div1" style="width: 400px; height: 400px;"></div>
        </div>
        <div class="col-md-4">
            <div id="chart_div2" style="width: 400px; height: 400px;"></div>
        </div>
        <div class="col-md-4">
            <div id="chart_div3" style="width: 400px; height: 400px;"></div>
        </div>
    </div>
</div>
    <script>
        function onProjectChange(projectid) {
            var responseText1 = $.ajax({
                async: false,
                url: '/linechart',
                type: 'GET',
                data: { 'project_id': projectid, 'type': 'number_of_lines'}
            }).responseText;
            
            var responseText2 = $.ajax({
                async: false,
                url: '/linechart',
                type: 'GET',
                data: { 'project_id': projectid, 'type': 'number_of_tokens'}
            }).responseText;
            
            var responseText3 = $.ajax({
                async: false,
                url: '/linechart',
                type: 'GET',
                data: { 'project_id': projectid, 'type': 'number_of_comments'}
            }).responseText;
            
            
            drawChart(responseText1, 'chart_div1', 'Number of line changes');
            drawChart(responseText2, 'chart_div2', 'Number of token changes');
            drawChart(responseText3, 'chart_div3', 'Number of comment changes');
        }
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
          
        function drawChart(data, area, title) {

            var tableData = new google.visualization.DataTable(data);

            var options = {
                title: title,
                hAxis: {
                    format: 'dd/MM/yy HH:mm:ss a'
                },
            };

            tableData.sort([{column: 0}]);

            var chart = new google.visualization.LineChart(document.getElementById(area));

            chart.draw(tableData, options);
        }
    
    </script>

{% endblock content %}